body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}
.card {
  font-family: "Outfit";
  margin: 7% auto 7% auto;
  border-radius: 5%;
  text-align: center;
}

.card-body {
  margin-bottom: 10%;
}

.card-img-top {
  display: block;
  margin: 12px auto 0;
  width: 90%;
  border-radius: 5%;
}

.card-title {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
